html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}


/* Case Study Pages */
  
.row {
display: grid;
grid-template-columns: repeat(12, 1fr); /* Define 12 columns */
gap: 5vw; /* Set gap between grid items */
margin: 5vh 5vw;
}
  
/* Create columns that sit next to each other */
.whole-column {
    grid-column: span 12;
}

.ten-twelfth-column {
    grid-column: span 10;
}

.three-quarter-column {
    grid-column: span 9;
}

.seven-twelfth-column {
    grid-column: span 7;
}

.one-half-column {
    grid-column: span 6;
}

.five-twelfth-column {
    grid-column: span 5;
}

.one-third-column {
    grid-column: span 4;
}

.one-quarter-column {
    grid-column: span 3;
}

.two-twelfth-column {
    grid-column: span 2;
}

.one-twelfth-column {
    grid-column: span 1;
}

.row-in-column {
    padding-top: 24px;
}

.header-image {
    flex: 100%;
}

.case-study-cover-pics {
    width: 100%;
    height: auto;
}

.case-study-inline-pics {
    width: 100%;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.about-pic {
    width: 100%;
    height: auto;
}

.chapter-link {
    font-size: 1em;
    font-family: 'Spline Sans', sans-serif;
    font-weight: 500;
    color: #848484;
}

/* Landing Page */

.container {
    background-image: url("/Images/Wave.svg");
    background-position: top right;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    z-index: -20;
}

.background {
    top: 0;
    position: absolute;
}

.landing-page {
    height: 91vh;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.left-column {
    flex: 1;
    width: 35vw;
    padding-left: 5vw;
    padding-right: 10vw;
}

.right-column {
    flex: 1;
    padding-left: 10vw;
    padding-right: 5vw;
    padding-top: 9vh;
}

.landing-pg-photo {
    min-width: 15vw;
    max-width: 22vw;
    height: auto;
    max-height: 80vh;
}

.projects-overview-landing-page {
    padding-top: 12vh;
    padding-bottom: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 9vh;
}

.footer {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100%;
    background-color: #fff8ec;
}

.footer-icon-item {
    height: auto;
    padding-left: 0vw;
}

.footer-icons-list {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin-left: 0;
    padding-left: 0vw;
}

.footer-icon {
    height: auto;
    max-width: 48px;
    padding-left: 0vw;
}