p {
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: #505050;
    margin-top: 0px;
    margin-bottom: 4px;
    line-height: 175%;
}

p.small {
    font-size: 14px;
}

h1 {
    font-size: 2.25em;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 500;
    color: #505050;
}

h2 {
    font-size: 1.75em;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 500;
    color: #505050;
    margin-top: 0px;
    margin-bottom: 16px;
}

h3 {
    font-size: 1.25em;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 600;
    color: #505050;
    margin-top: 0px;
    margin-bottom: 12px;
    line-height: 125%;
}

h4 {
    font-size: 1em;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    color: #505050;
    margin-top: 0px;
    margin-bottom: 12px;
    line-height: 125%;
}

h5 {
    font-size: 1em;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 600;
    color: #505050;
    margin-top: 0px;
    margin-bottom: 4px;
    line-height: 125%;
}

h6 {
    font-size: 1em;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 700;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    color: #848484;
    margin-top: 0px;
    margin-bottom: 4px;
}

.highlight {
    font-weight: 600;
    color: #9E6B13;
}

.email-link {
    color: #505050; /* Set text color to #404040 */
}

ul {
    list-style-type: disc;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 16px;
    line-height: 175%;
    color: #505050;
    padding: 0;
}

#typing-text-container {
    height: 1.15em;
}
  
#typing-text {
    display: inline-block;
    overflow: hidden;
}