html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    margin-left: 0px;
}

/* Case Study Pages */
  
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Define 12 columns */
    gap: 5vw; /* Set gap between grid items */
    margin: 5vh 10vw;
}


/* Create columns that sit next to each other */
.whole-column {
    grid-column: span 12;
}

.ten-twelfth-column {
    grid-column: span 10;
}

.three-quarter-column {
    grid-column: span 9;
}

.seven-twelfth-column {
    grid-column: span 7;
}

.one-half-column {
    grid-column: span 6;
}

.five-twelfth-column {
    grid-column: span 5;
}

.one-third-column {
    grid-column: span 4;
}

.one-quarter-column {
    grid-column: span 3;
}

.two-twelfth-column {
    grid-column: span 2;
}

.one-twelfth-column {
    grid-column: span 1;
}

.row-in-column {
    padding-top: 24px;
}

.header-image {
    flex: 100%;
}

.case-study-cover-pics {
    width: 100%;
    height: auto;
}

.case-study-inline-pics {
    width: 100%;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.about-pic {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.carousel {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.carousel img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel img.active {
    opacity: 1;
    position: relative;
}


/* Landing Page */

.container {
    background-image: url("/Images/Wave 2.svg");
    background-position: top right;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    z-index: -20;
}

.background {
    top: 0;
    position: absolute;
}

.landing-page {
    height: 91vh;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.left-column {
    flex: 1;
    width: 35vw;
    padding-left: 10vw;
    padding-right: 5vw;
}

.right-column {
    flex: 1;
    padding-left: 20vw;
    padding-right: 10vw;
    padding-top: 9vh;
}

.landing-pg-photo {
    min-width: 15vw;
    max-width: 22vw;
    height: auto;
    max-height: 80vh;
}

.projects-overview-landing-page {
    padding-top: 12vh;
    padding-bottom: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 9vh;
}


/* Separator line */

.separator {
    height: 1px;
    background-color: #d3d3d3;
}


/* Footer */

.footer {
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 10vw;
    padding-right: 10vw;
    width: 100%;
    background-color: #fff8ec;
}

.footer-icon-item {
    height: auto;
    padding-left: 0vw;
}

.footer-icons-list {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin-left: 0;
    padding-left: 0vw;
}

.footer-icon {
    height: auto;
    max-width: 48px;
    padding-left: 0vw;
}

/* Loading animations */
/* Define a keyframe animation for fading in */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); /* Optional: Start slightly below to enhance effect */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply the fading in animation to elements with the fade-in class */
  .fade-in {
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition */
  }
  
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }
  