.favicon-pic {
    width: 32px;
    height: auto;
}

.navbar{
    position: fixed;
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000;

    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 5vh;
    width: 90vw;

    /* background-color: transparent; */
    background: rgba(255, 255, 255, 0.5); /* Background with opacity */
    backdrop-filter: blur(10px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */

    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center items */
    justify-content: space-between; /* Make the nav links go to the far right */
}

ul.navbar-nav {
    list-style-type: none;
  }

li.nav-item {
    display: inline-block; /* Display items horizontally */
    margin-right: 32px; /* Adjust spacing between items */
}

a.nav-link {
    text-decoration: none;
    font-family: 'DM Serif Display', cursive;
    font-weight: 500;
    font-size: 1.1em;
    color: #9E6B13;
}

a.nav-link:hover {
    opacity: 80%;
}

a.nav-link:focus,
a.nav-link:active {
    text-decoration: underline; /* Underline on active/click */
}