@media only screen and (max-width: 1517px) { /*smaller than 1520*/

    #typing-text-container {
        height: 2.5em;
    }

}

@media only screen and (max-width: 800px) { /*501-800*/
    
    .container {
        background-image: none;
    }

    .landing-page {
        height: fill;
        margin-top: 9vh;
    }

    .left-column {
        width: 50vw;
        padding-left: 10vw;
        padding-right: 0px;
    }

    .right-column {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .landing-pg-photo {
        min-width: 70%;
        max-width: 100%;
        height: auto;
        max-height: 50%;
    }

    .projects-overview-landing-page {
        margin-top: 0px;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.15em;
    }

    h4 {
        font-size: 1.15em;
    }

    .row {
        display: block;
    }

    .card {
        display: block;
        width: 100%;
        padding: 5vh 0vw;
    }

    .card-border-blue {
        border-top: 4px solid #c5e2fb;
    }

    .card-border-yellow {
        border-top: 4px solid #FFF59E;
    }

    .card-border-orange {
        border-top: 4px solid #fae7cb;
    }

    .card-border-pink {
        border-top: 4px solid #f4d7d7;
    }

    .card img { /* Beware this affects the button icons too */
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
      
    .card-content {
        width: 100%;
        height: auto;
        padding-right: 0vw;
    }

    .top-line {
        background-color: transparent;
        margin-bottom: 0px;
    }

    .project-preview-btns {
        width: fit-content;
    }

    .project-preview-btns img {
        width: 24px;
        height: 24px;
        margin-bottom: 0px;
    }

    .callout {
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .footer {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media only screen and (max-width: 500px) { /*mobile - smaller than an iPad*/
    
    a.nav-link {
        font-size: 0.85em;
    }

    li.nav-item {
        margin-right: 16px;
    }

    .navbar {
        padding-left: 10vw;
        padding-right: 10vw;
        width: 80vw;
    }

    /* case studies */

    .header-image {
        padding-bottom: 5vh;
    }

    .row {
        display: block;
    }

    .one-column {
        padding-top: 0vh;
    }
    
    .two-column {
        flex: 100%;
        padding-top: 0vh;
    }
    
    /* landing page */
    .landing-page {
        width: 75%;
        display: block;
        padding-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .left-column {
        width: 100%;
        padding-left: 0px;
        flex: none;
    }
    
    .right-column {
        width: 100%;
        padding-right: 0px;
        flex: none;
    }
    
    .landing-pg-photo {
        min-width: 50%;
        max-width: 75%;
        height: auto;
        max-height: 50%;
    }

    .projects-overview-landing-page {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 100px;
    }

    .card {
        width: fill;
    }

    .footer {
        padding-left: 10%;
        padding-right: 10%;
        width: 80%;
    }
}