/* CARDS AND TAGS */

.card {
    display: flex;
    align-items: center; /* Vertically center content */
    background-color: #fff8ec;
    border: 0.1px solid #9E6B13;
    border-radius: 12px;
    box-shadow: 2px 2px 5px #9E6B13;
    padding: 24px;
    height: fit-content;
    margin-bottom: 10vh;
  }
  
  .card img {
    width: 50%;
    height: auto;
    margin-right: 2vw; /* Spacing between image and content */
    border-radius: 12px;
  }
  
  .card-content {
    flex: 1; /* Take remaining space */
  }
  
  .tags {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 0px;
    margin-bottom: 8px;

    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
    color: #404040; /* text color */

    border-radius: 20px; /* Adjust as needed for the desired roundness */
    background-color: #f6e2c5; /* background color */
  }
  
  .tags span {
    margin-right: 10px; /* Spacing between tags */
  }
  

  
  /* BUTTONS */

  .project-preview-btns {
    display: inline-flex;
    align-items: center;
    vertical-align: center;
    width: auto;
    background-color: white;
    border: 1.5px solid #9E6B13;
    padding: 6px 16px; /* Adjust padding as needed */
    border-radius: 20px; /* Rounded corners */
    font-family: 'DM Serif Display', cursive;
    font-size: 1em;
    font-weight: 200;
    color: #9E6B13; /* White text */
  }
  
.project-preview-btns span {
    margin-right: 8px; /* Spacing between text and icon */
}

.project-preview-btns img {
    width: 24px;
    height: 24px;
    margin-right: 0px;
}

.project-preview-btns:hover {
    box-shadow: 1px 1px 2px #9E6B13;
    cursor: pointer;
}