.prof-pic{
    width: 50%;
    height: auto;
    padding-left: 15%;
    padding-top: 2%;
}

.faviconpic {
    width: 40%;
    height: auto;
}

.scrollicon {
    width: 3%;
    padding: 0 50%;
    height: auto;
}